@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

/* font-family: 'Shrikhand', cursive; */
/* font-family: 'Nosifer', cursive; */
/* font-family: 'Metal Mania', cursive; */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.joke-title{
    font-size: 20px;
    font-family:'Roboto Mono', sans-serif;
}
.joke{
    font-size: 17px;
    font-family:'Roboto Mono', sans-serif;
    background-image: linear-gradient(to left, violet, indigo, blue, green, rgb(218, 218, 3), orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

.joke-button{
    cursor: pointer;
    font-family: 'Roboto Mono', sans-serif;
    background-color: rgb(53, 150, 53);
}

.navbar-style{
    font-family:'Roboto Mono', sans-serif;
}

.favorites-button{ 
    cursor: pointer;
    font-family: 'Roboto Mono', sans-serif;
    background-color: rgb(142, 116, 238);
}

.pageTitle{
    font-family: 'Roboto Mono', sans-serif;
    color:aliceblue;
    display:flex;
    justify-content: center;
    font-size: 75px;
    background-image: url("../images/city-gcdf8dc542_1920.jpg");
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.subheader{
    font-family: 'Roboto Mono', sans-serif;
    display:flex;
    justify-content: center;
    font-size: 25px;
    
}

.card-style{
    background: rgb(215, 212, 212);
    border-style: solid;
    border-color: rgb(101, 97, 97);
    border-radius: 25px;;
    padding: 30px;
    margin-left: 30px;
    margin-top: 30px;
}

.footer-font{
    font-family: 'Roboto Mono', sans-serif;;
}

.disaster-tracker{
    font-family: 'Metal Mania', cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.covid-counter{
    font-family: 'Nosifer', cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joke-button-div{
    display: flex;
    justify-content: space-evenly;
}

.hover-feature:hover{
    color:#ff5031;
    font-size: larger;
    transition: all 0.4s ease 0s;
}

.nav-pad{
    padding-bottom: 15px;
}

.joke-background{
    background-color: white;
}
