@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.joke-title{
    font-size: 20px;
    font-family:'Roboto Mono', sans-serif;
}
.joke{
    font-size: 17px;
    font-family:'Roboto Mono', sans-serif;
    background-image: linear-gradient(to left, violet, indigo, blue, green, rgb(218, 218, 3), orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }


.joke-button{
    cursor: pointer;
    font-family: 'Roboto Mono', sans-serif;
    background-color: rgb(53, 150, 53);
}

.navbar-style{
    font-family:'Roboto Mono', sans-serif;
}

.favorites-button{ 
    cursor: pointer;
    font-family: 'Roboto Mono', sans-serif;
    background-color: rgb(142, 116, 238);
}
