@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* font-family: 'Shrikhand', cursive; */
/* font-family: 'Nosifer', cursive; */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.joke-title{
    font-size: 20px;
    font-family:'Roboto Mono', sans-serif;
}
.joke{
    font-size: 17px;
    font-family:'Roboto Mono', sans-serif;
    background-image: linear-gradient(to left, violet, indigo, blue, green, rgb(218, 218, 3), orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

.joke-button{
    cursor: pointer;
    font-family: 'Roboto Mono', sans-serif;
    background-color: rgb(53, 150, 53);
}

.navbar-style{
    font-family:'Roboto Mono', sans-serif;
}

.favorites-button{ 
    cursor: pointer;
    font-family: 'Roboto Mono', sans-serif;
    background-color: rgb(142, 116, 238);
}

.pageTitle{
    font-family: 'Roboto Mono', sans-serif;
    display:flex;
    justify-content: center;
    font-size: 50px;
    
}

.subheader{
    font-family: 'Roboto Mono', sans-serif;
    display:flex;
    justify-content: center;
    font-size: 25px;
    
}

.card-style{
    background: rgb(215, 212, 212);
    border-style: solid;
    border-color: rgb(101, 97, 97);
    border-radius: 25px;;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.footer-font{
    font-family: 'Roboto Mono', sans-serif;;
}
